.medium-padding-right {
    padding-right: 10px;
}
.medium-padding-left {
    padding-left: 10px;
}
.medium-padding-bottom {
    padding-bottom: 10px;
}
.user-info {
    background-color: #f8f8f8;
    margin-left: 10px;
}
.user-message {
    padding-right: 5px;
}
.all-info {
    background-color: #f8f8f8;
}
/* recessed line effect */
hr {
	margin: 10px 0 10px;
	height: 0;
	clear: both;
	border: solid #ddd;
	border-width: 1px 0 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}
